* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Gloria Hallelujah', cursive; 
    background: #effcef;
}

#mainLogo {    
    width: 90px;
    margin-top: 10px;
    transition-duration: 2500ms;
}

#mainLogo:hover {
    transform: rotate(-360deg);
}

#name {
    color: #effcef;
    text-decoration: none;
    border: #effcef;
}


/* ###########################   start home page content   ###########################  */
.home-animation {
    position: fixed;
    width: 100%;
    height: 100vh;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1, .img2, .img3 {
    height: 100px;
    position: absolute;
}

.img1 {
    top: 0%;
    transform: translate(-0);
    animation: images 7s ease infinite;
}

.img2 {
    top: 10%;
    animation: images 10s ease infinite 2s;
}

.img3 {
    top: 25%;
    animation: images 5s ease infinite 1s;
}

.home-image {
    height: 350px;
    animation: home-image 2s ease infinite alternate;
}

.home-animation h1 {
    position: absolute;
    top: 72%;
    transform: translateY(-72%);
    font-size: 60px;
    margin-top: 20px;
}

.home-animation h3 {
    position: absolute;
    top: 77%;
    transform: translateY(-77%);
    font-size: 30px;
    margin-top: 15px;
}

@keyframes home-image {
    from {
        transform: translateY(0px);
    } to {
        transform: translateY(50px);
    }
}

@keyframes images {
    from {
        right: 0%;
    } to {
        right: 130%;
    }
}

/* ###########################   end home page content   ###########################  */
.homePage h2 {
    position: absolute;
    left: 90%;
    top: 20%;
}


/* ###########################   start social media content   ###########################  */
.social-section {  
    background-size: cover;
    padding: 60px 0;
}

.social-box h1 {
    position: absolute;
    top: 85%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
}

.social-box ul {
    position: absolute;
    top: 90%;
    left: 50%;
    padding: 10px;
    margin: 10px;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-box ul li {
    list-style: none;
    margin: 0 25px;
}

.social-box ul li a{
    position: relative;
    display: block;
    text-align: center;
    transition: .3s;
}

.social-box ul li a:hover {
    transform: translate(0, -15px);
}
/* ###########################   end social media content   ###########################  */



/* ###########################   start nav bar content   ###########################  */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Gloria Hallelujah', cursive;
    background-color:#655c56;
    font-size: 25px;
    color: #effcef;
    /*make sure the nav is the top stack later*/
    z-index: 100;
    position: relative;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li {
    list-style: none;
}

.nav-links a{
    color: #effcef;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 17px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 5px;
    background-color: #effcef;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-8px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-8px,-6px); 
}
/* ###########################   end nav bar content   ###########################  */



/* ###########################   start myself content   ###########################  */
.myself-section {  
    background-size: cover;
    padding: 60px 0;
}

.myself-inner-width {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.myself-section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    transform: scale(1.6);
}

.myself-border {
    width: 600px;
    height: 2px;
    background: #235952;
    margin: 30px auto;
}

.myself-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
}

.middle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -47%);
    margin-top: -70%;
}

.myself-box {
    cursor: pointer;
    width: 340px;
    height: 480px;    
}

.front, .back {
    width: 100%;
    backface-visibility: hidden;
    transition: transform .6s linear;
}

.front {
    height: 100%;
    margin-left: -10%;
}

.front img {
    height: 100%;
    margin-left: -10%;
    z-index: -1;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    transform: perspective(600px) rotateY(180deg);
}

.back-content {
    text-align: center;
    width: 100%;
    color: none;
    background: none;
}

.myself-box:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.myself-box:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}
/* ###########################   end myself content   ###########################  */



/* ###########################   start experience content   ###########################  */
.services-section {  
    background-size: cover;
    padding: 60px 0;
}

.services-inner-width {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.services-section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    transform: scale(1.6);
}

.services-border {
    width: 600px;
    height: 2px;
    background: #235952;
    margin: 30px auto;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    max-width: 50%;
    padding: 50px;
    text-align: center;
    cursor: pointer;
}

.service-icon {
    display: inline-block;
    width: 170px;
    height: 170px;
    border: 3px solid #235952;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}

.service-icon img {
    transform: rotate(-45deg);
}

.service-box:hover .service-icon {
    background: #235952;
    color: #ddd;
    transform: scale(1.6);
}

.service-title {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service-desc {
    font-size: 20px;
    margin-bottom: 35px;
}
/* ###########################   end experience content   ###########################  */



/* ###########################   start contact content   ###########################  */
.contact-section {  
    background-size: cover;
    padding: 60px 0;
}

.contact-inner-width {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.contact-section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    transform: scale(1.6);
}

.contact-border {
    width: 600px;
    height: 2px;
    background: #235952;
    margin: 30px auto;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-box {
    max-width: 50%;
    padding: 60px;
    margin: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contact-icon {
    font-size: 28px;
    background: #655c56;
    width: 170px;
    height: 170px;
    text-align: center;
    line-height: 170px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.contact-box:hover  .contact-icon {
    background: none;
    color: #655c56;
    transform: scale(1.6);
}

.contact-title {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-desc {
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.contact-box:hover .contact-desc{
    font-size: 25px;
    opacity: 1;
}
/* ###########################   end contact content   ###########################  */



/* ###########################   start  1280px resposive content   ###########################  */
@media screen and (max-width:1280px) {
    .home-box {
        width: 40%;
        height: 40%;
        margin: 0 auto 0 auto;
      }
      
      .home-text {
          position: absolute;
          top: 20%;
          margin-left: 560px;
      }
      
      .home-text h1 {
          font-size: 40px;
      }

}
/* ###########################   end 1280px resposive content   ###########################  */



/* ###########################   start  1024px resposive content   ###########################  */
@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }

   
    .home-text h1 {
        position: absolute;
        top: 50%;
        font-size: 40px;
    }

}
/* ###########################   end 1024px resposive content   ###########################  */



/* ###########################   start  768px resposive content   ###########################  */
@media screen and (max-width:768px) {
    body {
     overflow-x: hidden;
    }

    /* -------------------------  start nav bar content  ------------------------- */
    .nav-links {
        /* make the nav bar sticky */
        position: fixed !important;
        right: 0px;
        height: 100%;
        top: 0;
        background-color:#655c56;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;       
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
    /* -------------------------  end nav bar content  ------------------------- */


    /* -------------------------  start myself content  ------------------------- */
    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .back-content {
        text-align: center;
        width: 100%;        
    }
    /* -------------------------  end myself content  ------------------------- */



    /* -------------------------  start experience content  ------------------------- */
    .service-box {
        max-width: 100%;
    }
    /* -------------------------  end experience content  ------------------------- */



    /* -------------------------  start contact content  ------------------------- */
    .contact-box {
        max-width: 100%;
    }
    /* -------------------------  end contact content  ------------------------- */   
}
/* ###########################   end  768px resposive content   ###########################  */



/* ###########################   start  480px resposive content   ###########################  */
@media screen and (max-width:480px) {
    body {
     overflow-x: hidden;
    }

    /* -------------------------  start nav bar content  ------------------------- */
    .nav-links {
        /* make the nav bar sticky */
        position: fixed !important;
        right: 0px;
        height: 100%;
        top: 0;
        background-color:#655c56;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;       
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
    /* -------------------------  end nav bar content  ------------------------- */


    /* -------------------------  start home content  ------------------------- */
    .img1, .img2, .img3 {
    height: 100px;
    position: absolute;
}

.img1 {
    top: 0%;
    transform: translate(-0);
    animation: images 7s ease infinite;
}

.img2 {
    top: 10%;
    animation: images 10s ease infinite 2s;
}

.img3 {
    top: 25%;
    animation: images 5s ease infinite 1s;
}

.home-image {
    height: 350px;
    animation: home-image 2s ease infinite alternate;
}

.home-animation h1 {
    position: absolute;
    top: 82%;
    transform: translateY(-82%);
    font-size: 30px;
    margin-top: 20px;
}

.home-animation h3 {
    position: absolute;
    top: 87%;
    transform: translateY(-87%);
    font-size: 30px;
    margin-top: 15px;
}

@keyframes home-image {
    from {
        transform: translateY(0px);
    } to {
        transform: translateY(50px);
    }
}

@keyframes images {
    from {
        right: 0%;
    } to {
        right: 130%;
    }
}

    /* -------------------------  end home content  ------------------------- */


    /* -------------------------  start myself content  ------------------------- */
    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .back-content {
        text-align: center;
        width: 100%;        
    }
    /* -------------------------  end myself content  ------------------------- */



    /* -------------------------  start experience content  ------------------------- */
    .service-box {
        max-width: 100%;
    }
    /* -------------------------  end experience content  ------------------------- */



    /* -------------------------  start contact content  ------------------------- */
    .contact-box {
        max-width: 100%;
    }
    /* -------------------------  end contact content  ------------------------- */   


    .copyright {
        text-align: center;
        background-color: #655c56;
        color: #fff;
        padding: 5px;
        bottom: 0;
        width: 100%;
        position: fixed;
    }

    .up {
        position: absolute;
        width: 2rem;
        height: 2rem;
        background: url("../images/connection.png") no-repeat center #effcef;
        top: -2.5rem;
        right: 2rem;
        border-radius: 100%;
        display: flex;
        animation: pulse 2s infinite;
        cursor: pointer;	
    } 


    .copyright p {
        font-size: 1.1rem;
    }
}
/* ###########################   end  480px resposive content   ###########################  */

/* ###########################  start footer content   ###########################  */
    /*start footer*/
.copyright {
   text-align: center;
   background-color: #655c56;
   color: #fff;
   padding: 10px;
   bottom: 0;
   width: 100%;
   position: fixed;
}

.up {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background: url("../images/connection.png") no-repeat center #effcef;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;	
} 


.copyright p {
    font-size: 1.4rem;
}
/*end footer*/

/*start animations*/
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #655c56;
    } 70% {
        box-shadow: 0 0 0 2rem #655c56;
    } 100% {
        box-shadow: 0 0 0 0 #655c56;
    }
}
/*end animations*/

/* ###########################  end footer content   ###########################  */

.nav-active {
    transform: translateX(0%); 
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}